.pagebody {
    height: calc(100vh - 100px - 70px);
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
}

.leftcard {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rightcard {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.uppercard {
    padding: 2%;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lowercard {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.institue_heading {
    color: #0F7AC6ff;
    font-weight: bold;
    font-size: 1.8vw;
}

.institue_content {
    padding: 1.3% 0%;
    color: #000000;
    font-weight: 200;
    font-size: 1.2vw;
    line-height: 2.2vw;
    list-style-type: none;
}

.admission {
    background-color: #AE2220;
    /* #ea7a94 */
    color: #ffffff;
    height: 30px;
    width: 100px;
    font-size: 1.3vw;
    border: 0.5px solid #ffffff;
    border-radius: 3.5px;
}
.admission:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #AE2220;
    border:0.5px solid #AE2220;
}

.campus_heading {
    height: 30%;
    width: 100%;
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
}

.span {
    font-size: 4vw;
    color: #F7B31Eff;
    text-align: center;
}

.Media {
    /* margin: 4% 4%; */
    height: 70%;
    width: 100%;
    text-align: center;
}

.video {
    /* width:400px; */
    height: 220px;
    border-radius: 1vw;
    box-shadow: rgba(147, 145, 145, 0.35) 15px 15px 15px;
}

.loaderMediaParent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}
.rightcard_heading{
    margin-top: 3%;
    height: 20%;
    width: 100%;
    /* text-align: center; */
    color: #F7B31Eff;
    font-size: 4vw;
    font-weight: bold;
}
.carasouel{
    padding: 0%;
    padding-right: 2%;
    height: 80%;
    width: 100%;
}

@media only screen and (max-width:600px) {
    .pagebody {
        height: calc(100vh - 60px - 50px);
        flex-direction: column;
    }

    .leftcard {
        height: 65%;
        width: 100%;
    }

    .rightcard {
        height: 35%;
        width: 100%;
    }
    .uppercard {
        height: 50%;
    }

    .lowercard {
        height: 50%;
    }
    .Media{
        height:22.5vh ;
    }
    .video{
        height: 22vh;
    }
    .loaderMediaParent{
        height: 22vh;
    }
    .campus_heading {
        /* margin-bottom: 2%; */
        height: 20%;
        font-size: 9vw;
    }

    .span {
        font-size: 9vw;
    }

    .institue_heading {
        font-size: 5vw;
    }

    .institue_content {
        padding: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 3vw;
        /* text-align: center; */
        align-items: center;
        justify-content: center;
        /* line-height: 0vw; */
    }

    .list {
        margin: 2%;
        padding: 1%;
        height:5vw;
        width:fit-content;
        border: 0.1vw solid #000000;
        border-radius: 2vw;
        background-color: rgb(251, 246, 246);
    }

    .admission {
    font-size: 3.8vw;
    }
    .rightcard_heading{
        margin-top: 0%;
        height: 20%;
        width: 100%;
        /* text-align: center; */
        font-size: 9vw;
    }
}