.slide_images{
    height: 400px;
    width: 95%;
    border-radius: 1vw;
    box-shadow: rgba(147, 145, 145, 0.35) 10px 10px 10px;
}
.loaderParent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
@media only screen and (max-width:600px){
    .slide_images{
        height: 200px;
        width: 90%;
    }
    .loaderParent{
        height: 200px;
    }
}